Problem Statement:
Create a variable, called job_count to store the number 42. Print job_count once calculated.

In [1]:
job_count = 42
print(job_count)

42

Problem Statement:
Create variables to store the job title, company name, and whether the job is remote for a Data Engineer position. Set the job title to 'Data Engineer', the company name to 'DataWorks', and the remote status to True. Print all the variables.

In [2]:
job_title = 'Data Engineer'
company_name = 'Dataworks'
remote_status = True

Problem Statement:
Calculate the total compensation for a Data Scientist by adding two variables of base_salary and bonus. The base salary is 120000 and the bonus is 20000. Store the result in a variable named total_compensation. Print total_compensation once calculated.

In [3]:
base_salary = 120000
bonus = 20000

total_compensation = base_salary + bonus
print(total_compensation)

140000

Problem Statement:
Use a while loop to find the first job title that contains the word 'Engineer'. The list of job titles is ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer'].

In [5]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']
job_titles

['Data Scientist',
 'Data Analyst',
 'Machine Learning Engineer',
 'Software Engineer']

In [7]:
not_found = True
idx = 0
while not_found:
    if 'Engineer' in job_titles[idx]:
        print(job_titles[idx])
        not_found = False
    idx += 1

Machine Learning Engineer

Problem Statement:
You have the following dictionary of positions_skills which is set to {'Data Scientist': ['Python', 'R'], 'Data Analyst': ['SQL', 'Excel'], 'Machine Learning Engineer': ['Python', 'TensorFlow']}. The keys are a data science position, and the values are a list of skills required for the position. Print a message for each individual skill required for these data science positions (e.g., "The role of Data Scientist requires proficiency in Python").

In [8]:
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}

In [11]:
for key, value in positions_skills.items():
    print(f'The role of {key} requires proficiency in {value[0]} and {value[1]}')

The role of Data Scientist requires proficiency in Python and R
The role of Data Analyst requires proficiency in SQL and Excel
The role of Machine Learning Engineer requires proficiency in Python and TensorFlow

Problem Statement:
Create a list of data science job titles that require more than 2 years of experience from the given dictionary. With job_experience set to {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Specialist': 4, 'Data Engineer': 2}.

In [1]:
job_experience = {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Specialist': 4, 'Data Engineer': 2}

jobs = [key for key, value in job_experience.items() if value > 2]
print(jobs)

['Data Scientist', 'Machine Learning Specialist']

Problem Statement:
Create a list comprehension that extracts job titles with salaries greater than 90,000 from a given list of dictionaries containing job titles and salaries. The dictionary is job_salary_dicts named and it is set to [{'job_title': 'Data Scientist', 'salary': 100000}, {'job_title': 'Data Analyst', 'salary': 120000}, {'job_title': 'Data Engineer', 'salary': 80000}, {'job_title': 'Machine Learning Engineer', 'salary': 90000}].

In [3]:
job_salary_dicts = [  
    {'job_title': 'Data Scientist', 'salary': 100000},
    {'job_title': 'Data Analyst', 'salary': 120000},
    {'job_title': 'Data Engineer', 'salary': 80000},
    {'job_title': 'Machine Learning Engineer', 'salary': 90000}
]

In [13]:
jobs = [job['job_title'] for job in job_salary_dicts if job['salary'] > 90000]
print(jobs)

['Data Scientist', 'Data Analyst']

Problem Statement:
Create a function job_posting_summary that takes a list of job postings, where each posting is a dictionary with keys 'title', 'location', and 'salary', and returns a summary dictionary with the total number of postings, the average salary, and a list of unique locations. The job_postings is set to [{'title': 'Data Scientist', 'location': 'New York', 'salary': 95000}, {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000}, {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}].

In [14]:
job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]

In [29]:
def job_posting_summary(job_postings):
    return {
        'total_postings': len(job_postings),
        'average_salary': sum([job['salary'] for job in job_postings])/len(job_postings),
        'unique_locations': list(set([job['location'] for job in job_postings]))
    }

dictionary = job_posting_summary(job_postings)
print(dictionary)

{'total_postings': 3, 'average_salary': 98333.33333333333, 'unique_locations': ['New York', 'San Francisco']}

In [28]:
def job_posting_summary(job_postings):
    total_postings = len(job_postings)
    total_salary = sum(posting['salary'] for posting in job_postings)
    average_salary = total_salary / total_postings
    unique_locations = list(set(posting['location'] for posting in job_postings))
    return {
        'total_postings': total_postings,
        'average_salary': average_salary,
        'unique_locations': unique_locations
    }

job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]
job_posting_summary(job_postings)

{'total_postings': 3,
 'average_salary': 98333.33333333333,
 'unique_locations': ['New York', 'San Francisco']}

Problem Statement:
Create a lambda function to calculate the average salary from a list of salaries. With salaries set as [95000, 120000, 105000, 90000, 130000].

In [30]:
salaries = [95000, 120000, 105000, 90000, 130000]

In [35]:
res = (lambda x: sum(x)/len(x))(salaries)
res

108000.0

In [36]:

average_salary = (lambda s: sum(s) / len(s))(salaries)

print("Average Salary:", average_salary)

Average Salary: 108000.0

Problem Statement:
Create a lambda function to check if a job title contains the word 'Data' and use it to filter a list of job titles. With job_titles set to ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst'].

In [40]:
job_titles = ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst']

# Lambda funkcija koja proverava da li 'Data' postoji u stringu
contains_data = lambda title: 'Data' in title

# Filterujemo sve naslove koji sadrže 'Data'
filtered_jobs = list(filter(contains_data, job_titles))

print(filtered_jobs)

['Data Scientist', 'Data Engineer', 'Data Analyst']

Problem Statement:
Create a lambda function to filter remote job postings that require Python skills from a list of job postings. The list for the variable job_postings is shown below.

In [43]:
job_postings = [
    {'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
    {'title': 'Data Analyst', 'skills': ['Excel', 'SQL'], 'remote': False},
    {'title': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow'], 'remote': True},
    {'title': 'Software Developer', 'skills': ['Java', 'C++'], 'remote': True}
]

remote_python_postings = list(filter((lambda posting: 'Python' in posting['skills'] and posting['remote']), job_postings))
remote_python_postings

[{'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
 {'title': 'Machine Learning Engineer',
  'skills': ['Python', 'TensorFlow'],
  'remote': True}]

Problem Statement:
Create a class named JobPosting with attributes title, company, and location.
Create an instance of an object (called job) of this class with the title 'Data Scientist', company 'Tech Innovations', and location 'New York'.
Print the attributes of the object.

In [45]:
class JobPosting:
    def __init__(self, title, company, location):
        self.title = title
        self.company = company
        self.location = location

In [48]:
job = JobPosting('Data Scientist', 'Tech Innovations', 'New York')
print(job.company)
print(job.location)
print(job.title)

Tech Innovations
New York
Data Scientist

Problem Statement:
Create a class named JobPosting with a method to_dict that converts the job posting details to a dictionary.
Instantiate an object (called job) of this class with the title 'Data Scientist', company 'Tech Innovations', location 'New York', and salary as 120000.
Convert its details to a dictionary using the to_dict method.
Print the dictionary.

In [60]:
class JobPosting:
    def __init__(self, title, company, location, salary):
        self.title = title
        self.company = company
        self.location = location
        self.salary = salary

    def to_dict(self):
        return {
            'title': self.title,
            'company': self.company,
            'location': self.location,
            'salary': self.salary
        }

In [62]:
job = JobPosting('Data Scientist', 'Tech Innovations', 'New York', 120000)
print(job.company)
print(job.location)
print(job.title)
print(job.salary)

print(job.to_dict())

Tech Innovations
New York
Data Scientist
120000
{'title': 'Data Scientist', 'company': 'Tech Innovations', 'location': 'New York', 'salary': 120000}

Problem Statement:
Create a class named JobPosting with a method compare_salary that compares the salary of two job postings and returns the title of the job with the higher salary.
Instantiate two objects called job1 and job2 of this class and compare their salaries using the compare_salary method.
The two objects are defined below in the code needed.

In [68]:
class JobPosting:
    def __init__(self, title, company, location, salary):
        self.title = title
        self.company = company
        self.location = location
        self.salary = salary

    def compare_salary(self, other_job):
        if self.salary > other_job.salary:
            return self.title
        else:
            return other_job.title

In [71]:
job1 = JobPosting('Data Scientist', 'Tech Innovations', 'New York', 120000)
job2 = JobPosting('Data Analyst', 'Data Driven Co', 'San Francisco', 100000)
print(job1.compare_salary(job2))

Data Scientist

In [73]:
import numpy as np
applications_list = [10, 15, 7, 20, 25, 30, 5]

niz = np.array(applications_list)
print(type(niz))

<class 'numpy.ndarray'>