In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Datadataset 
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

Problem Statement:
Convert the job_posted_date column to a string format 'YYYY-MM-DD' and create a new column job_posted_date_str.

Hint:
Use the apply() method with a lambda and strftime() to convert the datetime to string format.

In [6]:
df['job_posted_date_str'] = df['job_posted_date'].apply(lambda x: x.strftime('%Y-%m-%d'))
df[['job_posted_date', 'job_posted_date_str']]

           job_posted_date job_posted_date_str
0      2023-06-16 13:44:15          2023-06-16
1      2023-01-14 13:18:07          2023-01-14
2      2023-10-10 13:14:55          2023-10-10
3      2023-07-04 13:01:41          2023-07-04
4      2023-08-07 14:29:36          2023-08-07
...                    ...                 ...
785736 2023-03-13 06:16:16          2023-03-13
785737 2023-03-12 06:18:18          2023-03-12
785738 2023-03-12 06:32:36          2023-03-12
785739 2023-03-12 06:32:15          2023-03-12
785740 2023-03-13 06:16:31          2023-03-13

[785741 rows x 2 columns]

Problem Statement:
Calculate the number of days since each job was posted. Create a new column days_since_posted that contains this value. Use the job_posted_date column.

Note: You need to import the datetime library and use the datetime module to get the current date using .now().

Hint:
Use the apply() method with a lambda function to calculate the difference between the current date and the job posted date.

In [16]:
from datetime import datetime

In [17]:
current_date = datetime.now()
current_date

datetime.datetime(2025, 4, 29, 21, 55, 22, 254797)

In [18]:
current_date = datetime.now()
df['days_since_posted'] = df['job_posted_date'].apply(lambda date: (current_date - date).days)
df[['job_posted_date', 'days_since_posted']].head()

      job_posted_date  days_since_posted
0 2023-06-16 13:44:15                683
1 2023-01-14 13:18:07                836
2 2023-10-10 13:14:55                567
3 2023-07-04 13:01:41                665
4 2023-08-07 14:29:36                631

Problem Statement:
Create a copy of the DataFrame called df_filtered and drop the NaN values for salary_year_avg.
Then, create a new column salary_category that categorizes the salary_year_avg into three categories: 'Low' for salaries less than 60,000, 'Medium' for salaries between 60,000 and 100,000, and 'High' for salaries greater than 100,000.
Then show the df_filtered DataFrame and the salary_year_avg and salary_category columns.
Hint:
Use the apply() method with a lambda function to categorize the salaries based on the given criteria.

In [31]:
df_filtered = df.dropna(subset=['salary_year_avg'])
df_filtered['salary_category'] = df_filtered['salary_year_avg'].apply(
    lambda salary: (
        'Low' if salary < 60000 else
        'Medium' if salary < 100000 else 
        'High'
    )
)
df_filtered[['salary_year_avg', 'salary_category']]

C:\Users\Korisnik\AppData\Local\Temp\ipykernel_13252\3475679789.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['salary_category'] = df_filtered['salary_year_avg'].apply(

        salary_year_avg salary_category
28             109500.0            High
77             140000.0            High
92             120000.0            High
100            228222.0            High
109             89000.0          Medium
...                 ...             ...
785624         139216.0            High
785641         150000.0            High
785648         221875.0            High
785682         157500.0            High
785692         157500.0            High

[22003 rows x 2 columns]

In [ ]:
#df_filtered = df.dropna(subset=['salary_year_avg']).copy()
#df_filtered['salary_category'] = df['salary_year_avg'].apply(lambda salary: 'Low' if salary < 60000 else 'Medium' if salary <= 100000 else 'High')
#df_filtered[['salary_year_avg', 'salary_category']]