In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Datadataset 
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

c:\Users\Korisnik\anaconda3\envs\python_course\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Problem Statement:
Remove rows where the salary_year_avg column has missing values. Display the number of rows before and after removing.

Hint:
Use the df.dropna() function with the subset parameter set to salary_year_avg.

In [2]:
len(df)

785741

In [3]:
after = df.dropna(subset='salary_year_avg')
len(after)

22003

Problem Statement:
Remove duplicate rows from the DataFrame based on the job_location column. Display the number of rows before and after removing duplicates.

Hint:
Use the df.drop_duplicates() function with the subset parameter set to job_location.

In [5]:
removed_dupl = df.drop_duplicates(subset='job_location')
len(removed_dupl)
removed_dupl.shape

(17218, 17)

Problem Statement:
Fill missing values in the salary_rate column with the string 'Unknown'. Display the first 10 rows of the salary_rate column before and after filling.

Hint:
Use the df.fillna() function with the value parameter set to 'Unknown'.

In [7]:
before = df['salary_rate'].head(10)
before

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
Name: salary_rate, dtype: object

In [9]:
after = df['salary_rate'].fillna('Unknown')
after.head(10)

0    Unknown
1    Unknown
2    Unknown
3    Unknown
4    Unknown
5    Unknown
6    Unknown
7    Unknown
8    Unknown
9    Unknown
Name: salary_rate, dtype: object

In [10]:
salary_rate_before = df['salary_rate'].head(10)
df_filled = df.fillna({'salary_rate': 'Unknown'})
salary_rate_after = df_filled['salary_rate'].head(10)
salary_rate_before, salary_rate_after

(0    None
 1    None
 2    None
 3    None
 4    None
 5    None
 6    None
 7    None
 8    None
 9    None
 Name: salary_rate, dtype: object,
 0    Unknown
 1    Unknown
 2    Unknown
 3    Unknown
 4    Unknown
 5    Unknown
 6    Unknown
 7    Unknown
 8    Unknown
 9    Unknown
 Name: salary_rate, dtype: object)